.card {
  color: 4a4a4a;
  font-size: 18px;
  text-align: center;
  background-color: #ffeb99;
  margin-top: 60px;
  height: 200px;
  width: 200px;
  clip-path: polygon(
    0% 15%,
    0 0,
    15% 0%,
    85% 0,
    86% 48%,
    100% 56%,
    100% 85%,
    100% 100%,
    85% 100%,
    15% 100%,
    14% 40%,
    0 32%
  );
}
