.homeCard {
  color: #4a4a4a;
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  background-color: #ffeb99;
  margin-top: 25px;
  height: 200px;
  width: 200px;
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 55% 10% 35%;
  clip-path: polygon(
    0% 15%,
    0 0,
    15% 0%,
    85% 0,
    86% 48%,
    100% 56%,
    100% 85%,
    100% 100%,
    85% 100%,
    15% 100%,
    14% 40%,
    0 32%
  );
  transition: all 0.3s ease-out;
}
.homeCard:hover {
  cursor: pointer;
  transform: translateY(-5px) translateZ(0);
}
homeImage {
  grid-row: 1;
  grid-column: 2;
  background-color: #4a4a4a;
  height: 50px;
  width: 50px;
}
.homeName {
  grid-row: 2;
  grid-column: 2;
}
.serial {
  font-family: 'Offside', cursive;
  margin-right: 20%;
  height: 60%;
  font-size: 12px;
  writing-mode: vertical-rl;
  text-orientation: upright;
}
