* {
  margin: 0;
  padding: 0;
  font-family: 'Oswald', sans-serif;
}
body {
  background-color: #e7f6ff;
  height: 100vh;
}
.app {
  display: grid;
  grid-template-columns: 15% auto 15%;
  grid-template-rows: 120px 630px;
}
.headingText {
  font-size: 60px;
  align-self: center;
  text-decoration: none;
  font-family: 'Major Mono Display', monospace;
  color: #363636;
}
.heading {
  display: flex;
  grid-column: 2 / span 1;
  flex-direction: row;
  justify-self: center;
}
.eevee {
  display: flex;
  align-self: center;
  width: 50px;
  height: 50px;
}
