* {
  margin: 0;
  padding: 0;
}
.app {
  display: grid;
  grid-template-columns: 10% auto 10%;
  grid-template-rows: 100px 100px auto;
}
.heading {
  grid-column: 2 / span 1;
  font-size: 50px;
  align-self: center;
  justify-self: center;
}
