.container {
  display: grid;
  grid-column: 2;
  grid-row: 3;
  background-color: #e7e7e7;
  align-items: center;
  padding-bottom: 100px;
  padding-top: 20px;
}
.cards {
  padding-left: 2%;
  display: flex;
  flex-wrap: wrap;
  justify-self: center;
  width: 90%;
}
.homeTool {
  grid-column: 2;
  grid-row: 2;
  background-color: #6dc0ff;
}
